.logo {
  display: flex;
  justify-content: center;
  padding-top: 10px; }
  .logo .log {
    width: 250px; }
    .logo .log:hover {
      opacity: 50%; }

.bg-nav {
  font-size: 15px;
  font-weight: 600; }

.btn-color {
  border: solid black .5px;
  border-radius: 3px; }
  .btn-color:hover {
    color: white; }

.navbar-light .navbar-nav .nav-link {
  color: black; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: white; }

.sticky-top {
  border: 1px solid burlywood; }

.fotos {
  display: flex;
  justify-content: space-around; }

.img1, .img2 {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  transition: all 800ms; }
  .img1:hover, .img2:hover {
    transform: scale(0.9);
    filter: sepia(0.5); }

.cajaTex .text1 {
  background-color: #c9a0a0; }
  .cajaTex .text1 .hcartel {
    font-size: 30px;
    word-spacing: 10px;
    color: black;
    font-style: italic; }

.cajaTex .text2 {
  box-shadow: 0px 5px 26px 8px goldenrod;
  width: 90%;
  margin: 20px auto; }
  .cajaTex .text2 .animacion {
    animation-duration: 2s;
    animation-name: animacion;
    animation-iteration-count: infinite; }

@keyframes animacion {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    color: gold; }
  100% {
    opacity: 0; } }

.galeria {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: center;
  align-content: center;
  gap: 20px; }
  .galeria .imgG {
    width: 300px;
    border-radius: 3px;
    transition: all 300ms; }
    .galeria .imgG:hover {
      transform: scale(1.2); }

.somos {
  text-align: justify;
  margin: 20px;
  width: 90%; }
  .somos .imgS {
    width: 50%;
    border-radius: 5px;
    box-shadow: 2px 2px 30px 2px grey; }
  .somos .nos {
    display: flex;
    width: 100%;
    justify-content: center; }

.preg {
  margin: 20px auto;
  width: 90%;
  border: .5px solid beige; }
  .preg .n {
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px; }

.C {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  .C .bt {
    background-color: #c9a0a0;
    border-radius: 5px;
    border: 1px solid #c9a0a0;
    box-shadow: 1px 1px 3px 1px grey;
    transition: all 500ms; }
    .C .bt:hover {
      color: white; }

.produc {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: center;
  align-content: center;
  gap: 20px; }
  .produc .imgp {
    width: 300px;
    border-radius: 3px;
    transition: all 500ms; }
    .produc .imgp:hover {
      transform: scale(1);
      border: .5px solid burlywood;
      opacity: 50%;
      box-shadow: 2px 2px 2px 2px black; }

.contenedorfoot {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "foot foot foot foot"; }
  .contenedorfoot .foot {
    grid-area: foot;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0;
    border: 1px solid burlywood; }
  .contenedorfoot .txtred {
    font-size: 15px;
    color: white;
    text-align: center; }
  .contenedorfoot .pago {
    display: flex;
    align-items: center;
    width: 90%; }

.bi-instagram {
  text-align: center;
  margin-left: 20px;
  margin-right: 10px;
  color: black; }
  .bi-instagram:hover {
    opacity: 60%; }

.bi-facebook {
  text-align: center;
  margin-left: 20px;
  margin-right: 10px;
  color: #3b5998; }
  .bi-facebook:hover {
    opacity: 60%; }

.bi-person-lines-fill {
  text-align: center;
  margin-left: 20px;
  margin-right: 10px;
  color: green; }
  .bi-person-lines-fill:hover {
    opacity: 60%; }

.botoW {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  padding-bottom: 20px;
  opacity: 80%; }
  .botoW .bi-whatsapp {
    box-shadow: 1px 1px 1px 1px black; }

body {
  background-color: #f5eee5; }

h4 {
  font-family: "Fredoka One", cursive; }

.bg-nav, .btn-color, .foot {
  background-color: #c9a0a0; }
