
.logo{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    .log{  
    width:250px;
    &:hover {
        opacity: 50%; 
    }
    }

}
.bg-nav{
    font-size: 15px;
    font-weight: 600;
}
.btn-color{
    border: solid black .5px;
    border-radius: 3px;
    &:hover {
        color:white
    }
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    &:hover {
    color: white;
    }
}
.sticky-top {
    border: 1px solid burlywood;
}

